[Unit]
Description=Standalone I2P BitTorrent Client

[Service]
User=xd
Group=xd
WorkingDirectory=~
ExecStart=/usr/bin/XD ~/xd.ini
Restart=on-failure

[Install]
WantedBy=default.target
