[Unit]
Description=Standalone I2P BitTorrent Client

[Service]
User=debian-xd
Group=debian-xd
WorkingDirectory=/var/lib/XD
ExecStart=/usr/bin/XD /var/lib/XD/xd.ini
Restart=on-failure

[Install]
WantedBy=default.target
